<section class="container">
  <div class="row p-5">
    <div class="col">
      <h1>Component</h1>
    
      <%= render @component %>

      <div class="d-flex align-items-center">
        <%= link_to "Edit", edit_component_path(@component), class: "btn btn-primary" %> |
        <%= link_to "Back", components_path, class: "btn btn-secondary" %> |
        <%= button_to "Destroy", @component, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</section>