<section class="container" id="readings-index">
  <div class="row p-5">
    <div class="col">
      <div class="page-title mb-3">
        <h1>Readings</h1>
      </div>

      <div id="readings">
        <% @readings.each do |reading| %>
          <%= render reading %>
        <% end %>
      </div>
    </div>
  </div>
</section>
