<%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>

<section class="container p-5" id="root">
  <div class="row p-5">
    <div class="col text-center">
      <%= image_tag "index/root.png", class: "img-fluid mb-3 root-img" %>
      <div class="root-text">
        <p class="text">Seja bem-vindo(a) ao <strong>emot</strong>.</p>
      </div>
    </div>
  </div>
</section>
