<div id="<%= dom_id output %>">
  <p>
    <strong>Value:</strong>
    <%= output.value %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= output.kind %>
  </p>

  <p>
    <strong>Component:</strong>
    <%= output.component_id %>
  </p>

</div>
